vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Nov 2011 11:35:10 -0000
vti_extenderversion:SR|12.0.0.0
vti_cacheddtm:TX|28 Nov 2011 11:35:10 -0000
vti_filesize:IR|479
vti_backlinkinfo:VX|
vti_syncwith_localhost\\w\:\\arch/w\:/arch:TR|28 Nov 2011 11:35:12 -0000
